{% include "common/header.html" %}

<div class="card">
  <div class="card-header">
    loginForm
  </div>
  <div class="card-body">
    <div class="alert alert-primary">세션 또는 JWT 쿠키 인증</div>
    <form method="post" action="/exam12/login">
      <div class="form-group">
          <label>아이디:</label>
          <input type="text" class="form-control" id="userid" name="userid" value="{{user.userid}}" autocomplete="username"/>
          {% if loginError.id == "wrongUserid" %}<span class="text-danger" style="font-size: 0.8rem;">{{loginError.message}}</span>{% endif %}
      </div>
      <div class="form-group">
          <label>비밀번호:</label>
          <input type="password" class="form-control" id="userpassword" name="userpassword" value="{{user.userpassword}}" autocomplete="current-password"/>
          {% if loginError.id == "wrongUserPassword" %}<span class="text-danger" style="font-size: 0.8rem;">{{loginError.message}}</span>{% endif %}
      </div>
      <button class="btn btn-info">로그인</button>    
      <a class="btn btn-info" href="/exam12">취소</a> 
    </form> 

    <div class="alert alert-primary mt-3">JWT 헤더 인증</div>
    <form onsubmit="handleSubmit()">
      <div class="form-group">
          <label>아이디:</label>
          <input type="text" class="form-control" id="userid2" name="userid" value="{{user.userid}}" autocomplete="username"/>
          {% if loginError.id == "wrongUserid" %}<span class="text-danger" style="font-size: 0.8rem;">{{loginError.message}}</span>{% endif %}
      </div>
      <div class="form-group">
          <label>비밀번호:</label>
          <input type="password" class="form-control" id="userpassword2" name="userpassword" value="{{user.userpassword}}" autocomplete="current-password"/>
          {% if loginError.id == "wrongUserPassword" %}<span class="text-danger" style="font-size: 0.8rem;">{{loginError.message}}</span>{% endif %}
      </div>
      <button class="btn btn-info">로그인</button>    
      <a class="btn btn-info" href="/exam12">취소</a> 
    </form> 
    <script>
      function handleSubmit() {
        event.preventDefault(); //form 태그의 submit 기능(페이지 갱신) 취소
        const userid = $("#userid2").val();
        const userpassword = $("#userpassword2").val();
        $.ajax({
          url: "/exam12/login2",
          method: "post",
          data: {userid, userpassword}
        }).done(data => {
          //동일한 브라우저 내에서 계속 사용할 수 있도록
          sessionStorage.setItem("userid", data.userid);
          sessionStorage.setItem("authToken", data.authToken);
          location.href = "/exam12";
        });
      }
    </script>
  </div>
</div>

{% include "common/footer.html" %}