{% include "common/header.html" %}

<div class="card">
  <div class="card-header">
    exam04_extends_block
  </div>

  <div class="card-body">
    <div>
      {% block content1 %}
      {% endblock %}
    </div>
    <hr/>
    <div>
      {% block content2 %}
      {% endblock %}
    </div>
    <hr/>
    <table class="table">
      <thead>
        <tr>
          <th>bno</th>
          <th>btitle</th>
          <th>bcontent</th>
          <th>bwriter</th>
          <th>bdate</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{board.bno}}</td>
          <td>{{board.btitle}}</td>
          <td>{{board.bcontent}}</td>
          <td>{{board.bwriter}}</td>
          <td>{{board.bdate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% include "common/footer.html" %}