<ul class="nav flex-column">
  <li class="nav-item">
    <h6 class="text-white">Template Engine: Nunjucks</h6>
    <a class="nav-link text-warning" href="/">exam01_home</a>
    <a class="nav-link text-warning" href="/exam02">exam02_bind_if_for</a>
    <a class="nav-link text-warning" href="/exam03">exam03_include</a>
    <a class="nav-link text-warning" href="/exam04">exam04_extends_block</a>
  </li> 
  <li class="nav-item">
    <h6 class="text-white">MiddleWare</h6>
    <a class="nav-link text-warning" href="/exam05">exam05_middleware</a>
    <a class="nav-link text-warning" href="/exam06">exam06_data_receive</a>
    <a class="nav-link text-warning" href="/exam07">exam07_multipart_form_data</a>
  </li> 
  <li class="nav-item mt-3">
    <h6 class="text-white">User State Save</h6>
    <a class="nav-link text-warning" href="/exam08">exam08_cookie</a>
    <a class="nav-link text-warning" href="/exam09">exam09_session</a>
  </li>    
  <li class="nav-item mt-3">
    <h6 class="text-white">Router</h6>
    <a class="nav-link text-warning" href="/exam10/boards">exam10_boards</a>
  </li>
</ul>